*
{
	outline: 1px solid green;

}
body 
{ 
	font : 100%/1.4 'Helvetica Neue', arial, helvetica, helve, sans-serif; 	
	font-size: 15px;
	margin:0px;
}

.col 
{ 
	 
	text-align:left;
}
.cabeza
{
	background-image: url(../img/grupal.jpg);
	background-size: cover;
 	background-repeat: no-repeat;
 	height: 700px;
	
}
.cabeza button
{
	background-color: #F8A50A;
	border: 1px solid #F8A50A;
	height: 35px;
	width: 80px;
	margin: 50px 0 0 100px;
}
.cabeza img
{
	width: 100%;
	margin-top: 80px;
	
}
.cabeza ul
{
	margin-left: 0px;
	margin-top: 50px;
}
.cabeza li
{
	list-style: none;
	text-align: left;
	display: inline;
	margin-left: 10px;

}
.cabeza a
{
	text-decoration: none;
	color: black;
}
.contenedor2
{
	padding-left: 50px;
	padding-right: 50px;
}
.imagenes img
{
	width: 100%;
}
.imagenes p
{

}
.pie
{
	margin-top: -1px;
	background-color: #555451;
}
.pie p
{
	color:white;
	font-size: 15px;
	margin-left: 30px;
}